# IDE / VS
.vs/
*.user
*.suo
*.swp
*.tmp

# Build outputs
**/bin/
**/obj/
**/out/

# Rider/VSCode
.idea/
.vscode/

# Logs
*.log

# Secrets (geliştirme dosyaları ve yerel gizliler)
appsettings.Development.json
appsettings.Local.json
appsettings.*.Local.json
secrets.json
*.secret
*.key
*.pem
